/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2024, 11:16:48 PM
    Author     : rober
*/
                html, body {
                height: 100%;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
             .siract
             {
                 background: white;
                 font-size: 50px;
                 text-align: center;
                 padding: 18.5%;
                 
                height:auto;
             }
            .header {
                background-color: #f5f0d7;
                padding: 20px;
                text-align: center;
                font-size: 24px; 
                border-bottom: 3px solid green;
                position: relative;
                height: 60px; 
}

.logout-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}


            .nav-bar {
                background-color: #ffd699;
                padding: 10px;
                text-align: center;
                font-size: 18px;
                color: green;
                border-bottom: 2px solid green;
            }
            .nav-bar a {
                margin: 0 15px;
                color: green;
                text-decoration: none;
                font-weight: bold;
            }
            .panel {
                padding: 20px;
                margin: 20px;
                background-color: #FFF9DB;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            .panel h2 {
                color: green;
                text-align: center;
                margin-bottom: 20px;
            }
            .celda {
                font-weight: bold;
                color: green;
            }
            .footer {
                background-color: #ffd699;
                text-align: center;
                padding: 10px;
                font-size: 16px;
                color: green;
                border-top: 2px solid green;
            }
     